<html class="h-full">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link
            href="{{ url_for('static', path='/css/bootstrap.min.css') }}"
            rel="stylesheet"
    />
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/json-enc.js') }}"></script>
</head>
<body class="bg-light-subtle">
    <nav class="navbar navbar-expand-lg" style="background-color: #058B8C;">
      <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('scan_subjects')}}"><img class="img-fluid d-inline-block align-middle" src="{{ url_for('static', path='/images/lsst_white_logo.png') }}" alt="Rubin" width=100>
			<span style="color: #fff">τάσσω</span>
		</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse" id="navbarNav">
	      <div class="navbar-nav">
	      <a class="nav-link" href="{{url_for('about')}}" style="color: #fff"> About </a>
	      <a class="nav-link" href="{{url_for('guide')}}" style="color: #fff"> Guide </a>
	      <a class="nav-link" href="{{url_for('leaderboard')}}" style="color: #fff"> Leaderboard </a>
	      <a class="nav-link" href="#" style="color: #fff">{{user}}</a>
	      </div>
        </div>

    </div>
    </nav>
    <div class="container text-left mt-4">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
