<html class="h-full">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link
            href="{{ url_for('static', path='/css/output.css') }}"
            rel="stylesheet"
    />
    <script src="{{ url_for('static', path='/js/ag-grid-community.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/json-enc.js') }}"></script>
</head>
<body class="h-full">
<!--    <nav class="border-b border-gray-200 bg-teal-700">-->
    <nav class="flex items-center justify-between sm:flex-wrap bg-teal-700 p-6">
        <div class="px-4 sm:px-6 lg:px-8 space-x-2">
                <div><a href="{{ url_for('scan_subjects')}}"><img class="block h-10 w-auto lg:block" src="{{ url_for('static', path='/images/lsst_white_logo.png') }}" alt="Rubin"></a></div>
                </div>
                <div> <span class="text-3xl tracking-tight text-white">
                    <a href="{{ url_for('scan_subjects')}}">τάσσω</a> </span></div>
                <div> <a href="#responsive-header" class="text-white hover:text-gray-300"> About </a> </div>
                <div> <a href="#responsive-header" class="text-white hover:text-gray-300"> Guide </a> </div>
                <!--<div> <a href="#responsive-header" class="text-white hover:text-gray-300"> Leaderboard </a> </div>-->
        </div>

        <div class="flex items-center lg:flex-grow-0">
            <div class="space-x-4">
                {{user}}
            </div>
        </div>
    </nav>
    <div class="py-10">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
