<html class="h-full">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link
            href="{{ url_for('static', path='/css/output.css') }}"
            rel="stylesheet"
    />
    <script src="{{ url_for('static', path='/js/ag-grid-community.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/json-enc.js') }}"></script>
</head>
<body class="h-full">
    <nav class="border-b border-gray-200 bg-teal-700">
        <div class="px-4 sm:px-6 lg:px-8 space-x-4">
            <div class="flex h-16 items-center">
                <a href="{{ url_for('get_index')}}"><img class="block h-10 w-auto lg:block" src="{{ url_for('static', path='/images/lsst_white_logo.png') }}" alt="Rubin"></a>
            </div>
	    <div class="text-3xl text-gray-300"> <a href="{{ url_for('get_index')}}">τάσσω</a></div>
        </div>
    </nav>
    <div class="py-10">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
