{% extends "pages/base.html" %}
{% block title %} tasso User's Guide {% endblock %}
{% block content %}
    <div id="index_content">
	    <div class="flex pl-3 items-center">
		<span class="text-large font-bold">Using tasso</span>
	    </div>
	    <div class="flex pl-3 items-center">
		    <p>The tasso main page presents a triplet of images.  Use the buttons to classify the source.  You can also use keyboard shortcuts.  After submitting your classification, a new subject will appear.
		    </p>
	    </div>
	    <div class="flex pl-3 items-center">
		    <p>Eventually this page will have a visual guide to classification.
		    </p>

    </div>
{% endblock %}
